body {
    font-family: 'Kanit', sans-serif;
    background: linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)) , url("picture/res1.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; /* ให้มีพื้นที่ด้านบนสำหรับ navbar */
    height: 110vh;
}

nav{
    position: fixed; /* ทำให้ navbar คงที่เมื่อเลื่อนหน้าเว็บ */
    top: 0;
    left: 0;
    width: 100%; /* ให้ navbar กว้างเต็มจอ */
    background-color:rgba(221, 149, 133, 0.82);
    box-sizeding: border-box; /* ทำให้ padding ไม่ทำให้ขนาดของ navbar เปลี่ยน */
    padding: 10px 0; /* เพิ่ม padding ด้านบนและล่าง */
}

.nav_container{
    max-width: 1140px; /* ปรับขนาด */
    margin: 0 auto; /* จัดกลาง */
    justify-content: space-between; /* จัดให้มีระยะห่างระหว่างซ้ายและขวา */
}

.nav-con{
    display: flex; /* ใช้ flex เพื่อจัดการ layout */
    justify-content: space-between;
    align-items: center; /* จัดแนวให้ตรงกลาง */
    height:60px; /* กำหนดความสูงของ navbar */
}

.navbar{
    padding: 0 20px;
    font-size: 1rem; 
    display: column; /* ใช้ column เพื่อจัดการ layout */
}

.menu{
    display: flex;
}

.menu li{
    list-style: none; /*ลบbullet*/
    margin-left: 1rem;
}

.home:hover{
    background-color: #d2a679;
    border-radius: 10px; /* ทำให้มุมมน */
    padding: 5px 10px;
    transition: 0.3s; /* เพิ่มระยะเวลาเปลี่ยนสีเมื่อ hover */
}

.register:hover{
    background-color: #d2a679;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

a{
    color: white;
    text-decoration: none; /* ลบเส้นใต้ */
}


.container { 
    background: white;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px; /* กำหนดความกว้างของ container */
    background-color: rgb(255, 255, 255,0.9); /* ทำให้พื้นหลังโปร่งใส */
}

.header {
    font-size: 30px;
    font-weight: bold; /* ทำให้ข้อความหนา */
    text-align: center;  /* จัดข้อความให้อยู่กลาง */
    margin-bottom: 20px;
    margin-right: 10px;
}

.header i{
    margin-left: 15px;
}


.form-input {
    font-weight: bold;
    margin-bottom: 15px;
}


.header-from {
    font-weight: bold;
    margin-bottom: 5px;
}

.form {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:transparent;
}

.form:hover{
    background-color:rgb(255, 255, 255, 0.5);
}


textarea {
    width: 100%;
    height: 60px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:transparent;
}

textarea:hover {
    background-color:rgb(255, 255, 255, 0.5);
}



/*ทำปุ่มส่งข้อมูลให้อยู่ครงกลาง*/
.center {
    display: flex;
    justify-content: center;
}

.submitdata {
    font-family: 'Kanit', sans-serif;
    padding: 12px;
    background:#4e342e;
    border: 1px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    width: 40%;
    height: 50px;
   
}

.submitdata:hover {
    background:rgb(18, 221, 167);
    transform: scale(1.1);
}

.message {
    margin-buttom: 20px;
    display: none; /* ซ่อนข้อความเริ่มต้น */
    padding: 10px;
    border-radius: 6px;
}

.message.success {
    display: block; /* แสดงข้อความเมื่อสำเร็จ */
    background-color: lightgreen;
}

.message.danger {
    display: block;
    background-color: red;
    color: white;
}

@media(max-width: 768px) {
    .container {
        width: 100%;
        max-width: 400px;
        padding: 20px;
    }

    .form{
        width: 95%;
    }


    textarea {
        width: 95%;
    }

    .header {
        font-size: 24px;
    }
    .submitdata {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px){
    .menu{
        display:flex !important; /*บังคับให้ทำคำสั่งนั้นก่อน*/
        
    }
}

@media screen and (max-width: 768px) {
    .nav-con{
        flex-direction: column;
        align-items: flex-start; /* จัดแนวให้ชิดซ้าย */
        height: auto; /* ปรับความสูงให้เหมาะสม */
        padding: 0px 20px; /* เพิ่ม padding ด้านบนและล่าง */ 
    }

    .navbar{
        padding: 0 20px; /* เพิ่ม padding ซ้ายและขวา */
        font-size: 1rem; /* ปรับขนาดฟอนต์ให้เล็กลง */
    }

    .menu{
        display:none;
        flex-direction: column; /* เปลี่ยนแนวการจัดเรียงเป็นแนวตั้ง */
        margin-top: -10px; /* เพิ่มระยะห่างด้านบน */
        padding: 0; /* ลบ padding ออก */
    }

    li{
        margin-left: 0; /* ลบ margin ซ้ายออก */
        padding: 10px ; /* เพิ่ม padding ด้านบนและล่าง */
    }


}

/* Hamburger Icon Styling */
.hamburger-icon {
    display: inline-block; /* ทำให้ hamburger icon แสดงเป็นบล็อก */
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อ hover */
    position: absolute; /* ทำให้ hamburger icon อยู่ในตำแหน่งที่ต้องการ */
    right: 20px;
    top: 20px;
  
@media only screen and (min-width: 764px) {
      display: none;
    }
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg); 
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg); 
  }





