body {
    font-family: 'Kanit', sans-serif;
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)) , url("picture/res1.webp");/* เปลี่ยนเป็นภาพพื้นหลังที่ต้องการ */
    background-position: center; /* จัดตำแหน่งภาพพื้นหลังให้อยู่กลาง */
    background-size: cover; /* ปรับขนาดภาพพื้นหลังให้เต็มพื้นที่ */
    background-repeat: no-repeat; /* ไม่ให้ภาพพื้นหลังซ้ำ */
    background-attachment: fixed; /* ทำให้ภาพพื้นหลังไม่เลื่อนตามการเลื่อนหน้าเว็บ */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 20px;
    padding-top: 100px; /* ให้มีพื้นที่ด้านบนสำหรับ navbar */
}

nav{
    position: fixed; /* ทำให้ navbar คงที่เมื่อเลื่อนหน้าเว็บ */
    top: 0;
    left: 0;
    width: 100%; /* ให้ navbar กว้างเต็มจอ */
    background-color:rgba(221, 149, 133, 0.82);
    box-sizeding: border-box; /* ทำให้ padding ไม่ทำให้ขนาดของ navbar เปลี่ยน */
    padding: 10px 0;
}

.nav_container{
    max-width: 1140px; /* ปรับขนาด */
    margin: 0 auto;
    justify-content: space-between;
}

.nav-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
}

.navbar{
    padding: 0 20px;
    font-size: 1rem;
    display: column;
}

.menu{
    display: flex;
}

.menu li{
    list-style: none; /*ลบbullet*/
    margin-left: 1rem;
}

.home:hover{
    background-color: #d2a679;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

.register:hover{
    background-color: #d2a679;
    border-radius: 10px;
    padding: 5px 10px;
    transition: 0.3s;
}

a{
    color: white;
    text-decoration: none;
}

.form-control{
    font-family: 'Kanit', sans-serif;
    display: flex;
    margin: 0 auto;
    width: 60%;
    max-width: 200px;
    border: none;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: #fff;
}

.form-control:hover{
    background-color:rgb(233, 195, 158,0.7);

}

.header1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color:rgb(12, 203, 236);
}


table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 4px 8px #c4a484;
    background: #fff3e0;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    border-bottom: 2px solid #e0c3a3;
}
/*  หัวตาราง  */
th {
    background-color:#d2a679; 
    color: #4e342e;
    text-transform: uppercase;
}
/* แถวสลับสี  */
tr:nth-child(even) {
    background-color:#fce8d5;
}

tr:hover {
    background-color:#e0ac69; /* เปลี่ยนสีเมื่อ Hover */
    transition: 0.5s;
}
/* แถว Hover */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.Edit {/* ปุ่มแก้ไข */
    background-color:#b87333;
    color: white;
}
.Edit:hover {/* เปลี่ยนสีเมื่อ Hover */
    background-color:rgb(145, 226, 137);
    color: white;
    transform: scale(1.3);
}

.delete {/* ปุ่มลบ */
    background-color:#d2691e;
    color: white;
}
.delete:hover {/* เปลี่ยนสีเมื่อ Hover */
    background-color:rgb(202, 40, 40);
    color: white;   
    transform: scale(1.3);
}

.approve{/* ปุ่มอนุมัติ */
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px 11px;
    background-color:#d2a679;
    color: white;
}

.approve:hover {
    background-color:rgb(145, 226, 137);
    color: white;
    transform: scale(1.3);
}

@media(max-width: 768px) {
    table {
        width: 40%;
        margin: 15px auto;
        border-collapse: collapse;
        box-shadow: 0px 4px 8px #c4a484;
        background: #fff3e0;
        border-radius: 10px;
        overflow: hidden;
    }
    
    th, td {
        padding: 3px;
        font-size: 10px;
        text-align: center;
        border-bottom: 2px solid #e0c3a3;
    }

    .Edit:hover {
        transform: scale(1.1);/* เปลี่ยนขนาดเมื่อ Hover */
    }

    .delete:hover {
        transform: scale(1.1);
    }

    .approve:hover {
        transform: scale(1.1);
    }

}

@media screen and (min-width: 768px){
    .menu{
        display:flex !important;
        
    }
}

@media screen and (max-width: 768px) {
    .nav-con{
        flex-direction: column;
        align-items: flex-start; /* จัดแนวให้ชิดซ้าย */
        height: auto; /* ปรับความสูงให้เหมาะสม */
        padding: 0px 20px; /* เพิ่ม padding ด้านบนและล่าง */ 
    }

    .navbar{
        padding: 0 20px; /* เพิ่ม padding ซ้ายและขวา */
        font-size: 1rem; /* ปรับขนาดฟอนต์ให้เล็กลง */
    }

    .menu{
        display:none;
        flex-direction: column; /* เปลี่ยนแนวการจัดเรียงเป็นแนวตั้ง */
        margin-top: -10px; /* เพิ่มระยะห่างด้านบน */
        padding: 0; /* ลบ padding ออก */
    }

    li{
        margin-left: 0; /* ลบ margin ซ้ายออก */
        padding: 10px ; /* เพิ่ม padding ด้านบนและล่าง */
    }


}

/* Hamburger Icon Styling */
.hamburger-icon {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
  
@media only screen and (min-width: 764px) {
      display: none;
    }
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

